body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/galaxy.png'); 
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  background-attachment: fixed; 
  
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: white;
}